.main-container{
    background-color: #f9f9f9;
    margin-top: 5rem;
}

.card{
border: none ;

}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    
}

.hr{
    margin: auto;
    border-style:none;
    border-top-style: dotted;
    border-color: rgb(2, 2, 2);
    border-width: 5px;
    width: 5%;
    

  }